<!DOCTYPE html>
<html lang="en" id="ui">

    <%- include('./Components/Head', { title: 'Home' }) %>
        <%- include('./Components/Navbar') %>
            <%- include('./Components/Noscript') %>
    
	<body>
        <div class="container-fluid h-100">
            <div class="row h-100">
                <%- include('./Components/Sidebar') %>
          
              <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2">Dashboard</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                      <button type="button" class="btn btn-sm btn-outline-dark">Share</button>
                      <button type="button" class="btn btn-sm btn-outline-dark" onclick="genClassReportWithID();">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-dark dropdown-toggle" id="dropdownHome" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                      This week
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownHome">
                        <li class="dropdown-item cursor-pointer">Today</li>
                        <li class="dropdown-item cursor-pointer">This week</li>
                        <li class="dropdown-item cursor-pointer">This month</li>
                        <li class="dropdown-item cursor-pointer">This term</li>
                        <li class="dropdown-item cursor-pointer">This semester</li>
                        <li class="dropdown-item cursor-pointer">This year</li>
                      </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <figure class="highcharts-figure card">
                      <div id="ctx-panel"></div>
                    </figure>
                  </div>
                  <div class="col-12 my-4">
                    <div class="card">
                      <div class="card-body" id="ajax-students">
                        <h3 class="d-flex align-items-center text-decoration-none justify-content-center">Students</h3>

                      </div>
                    </div>
                  </div>
                </div>


              </main>
            </div>
          </div>
		
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
          <script src="https://code.highcharts.com/highcharts.js"></script>
          <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
        <script src="/public/js/7c.js"></script>
        <!-- <script src="/public/js/data.js"></script> -->
        <script src="/public/js/ui.js"></script>
        <script src="/public/js/load.js"></script>
        <script src="/public/js/pdf.js"></script>
        <script src="/public/js/vendor/jspdf.umd.min.js"></script>
	</body>
</html>
