<footer class="fixed-footer d-flex justify-content-center align-items-center bg-light">
    <br>
    <span class="pe-3" id='loadTime'></span><span><i class="fas fa-tag"></i> v<%= version %></span>
    <br><br>
</footer>